@(hangman: Option[models.Hangman])(implicit request: RequestHeader)
@*
TODO: Find the way to pass object to javascript
*@
Puzzle State:
@{hangman match {
	case None => "No game could be constructed!"
	case Some(game) => game.maskedWord
}}

@*helper.form(action = controllers.HangmanController.guessSubmit) {
    First name:<input type="text" name="guess"><br>
}

*@

<form method="post" autocomplete="on">
      Guess:<input type="text" name="guess"><br>
      <input type="submit">
</form>
<a href="@routes.HangmanController.giveUp()"><button>Give up?</button></a>