@(message: String)
@main(title = "Home") {

	<div class="container">
	    <section class="header">
	      <h1 class="title">Game of Hangman.</h2>
	      
	    </section>
	    <div class="container">
		
		  <!-- there are a few shorthand columns widths as well -->
		  <div class="row">
		    <div class="one-half column bottom"><img style="PADDING-TOP: 55px" class="img-50x" src="@routes.Assets.versioned("images/Stick1.png")"></div>
		    <div class="one-half column">
		    	<img class="img-75x" src="@routes.Assets.versioned("images/tree7.png")">
		    </div>
		  <div class="row">
		   <button class="button-primary">Start Game</button>
		  </div>
	</div>

}